body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    /* text-align: center; */
    padding: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.register-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 600px;
}

.register-box input[type="text"],
.register-box input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#idCheckMsg,
#pwCheckMsg {
    font-family: 'Pretendard-Regular';
}