* {
  box-sizing: border-box;
  font-family: "Cafe24Ssurround", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
