<div id="edit">
    <!-- 좌측: 설정 영역 -->
    <div id="coverEditForm">
    
        <h2>가림판 설정</h2>
        <label>이미지 업로드:
            <input class="inputBox" id="imageUpload" type="file">
        </label>
        <button class="btn" id="deleteImageBtn">이미지 삭제</button>

        <label>배경색:</label>
        <input id="coverBackgroundColor" type="color" value="#ff0000">
        <br>

        <label>투명도:</label>
        <input id="coverOpacity" type="range" min="0" max="1" step="0.01" value="0.87">
        <br>

        <label>문구 입력:</label>
        <textarea class="inputBox" id="textInput" name="question" placeholder="문구를 입력하세요"></textarea><br>

        <label>문구 크기:</label>
        <input id="textSize" type="number" min="10" max="100" value="20">
        <br>

        <label>문구 색상:</label>
        <input id="textColor" type="color" value="#000000">
        <br>

        <label>문제 색상:</label>
        <input id="questionColor" type="color" value="#000000">
        <br>

        <label>답 색상:</label>
        <input id="answerColor" type="color" value="#000000">
        <br>

        <label>답 투명도:</label>
        <input id="answerOpacity" type="range" min="0" max="1" step="0.01" value="0">
        <br>

        <label>가림판 설정명:
            <input class="inputBox" id="cover-title" type="text">
        </label>
        <button class="btn" id="saveBtn">설정 저장</button>
    </div>

    <!-- 우측: 임시 가림판 -->
    <!-- <h3>가림판 미리보기</h3> -->
    <div id="previewText"><a id="sample-question">실제 표시될 답 :</a> <a id="sample-answer">answer</a></div>
    <div id="coverPreview">
        <img id="previewImage">
        <div id="decorationText"></div>
    </div>
</div>