<body>
  <h2>가림판 선택</h2>
  <form id="coverSelectForm">
    <div class="cover-options">
      <div class="cover-box selected" data-id="-1">기본설정</div>
      <% covers.forEach(cover => { %>
        <div class="cover-box" data-id="<%= cover.cover_id %>"><%= cover.title %></div>
      <% }) %>
    </div>
    <input type="hidden" name="cover_id" id="selectedCover" value="default" />
    <input type="hidden" id="defaultCoverId" value="<%= selectedCoverId %>">
    <button class="btn" type="submit">설정</button>
  </form>
</body>