<body>
  <h2>문제 등록</h2>
  <form id="addCardForm">
    <div class="input-box">
      <label>수첩 선택:</label>
      <select class="inputBox" id="note_id" name="note_id" required>
        <% notes.forEach(note => { %>
          <option value="<%= note.note_id %>"><%= note.title %></option>
        <% }) %>
      </select><br/>
    </div>

    <div class="input-box">
      <label>문제:</label>
      <textarea class="inputBox" name="question" required maxlength="500" rows="4" cols="50" style="resize: vertical;"></textarea><br/>
    </div>

    <div class="input-box">
      <label>정답:</label>
      <input class="inputBox" type="text" name="answer" required maxlength="500"><br/>
    </div>

    <div class="input-box">
      <label>힌트:</label>
      <input class="inputBox" type="text" name="hint" maxlength="300"><br/>
    </div>

    <button class="btn" type="submit">등록</button>
  </form>
</body>