<section class="note-container">
    <div class="note">
      <div class="left">
        <!-- <h3>문제</h3> -->
        <ul>
          <li>문제 1</li>
          <li>문제 2</li>
          <li>문제 3</li>
          <!-- 문제 내용 추가 -->
        </ul>
      </div>
  
      <div class="right">
        <!-- <h3>답</h3> -->
        <ul>
          <li>답 1</li>
          <li>답 2</li>
          <li>답 3</li>
          <!-- 답 내용 추가 -->
        </ul>
      </div>
    </div>
  </section>