<section class="note-summary">
  <h2 id="note_title">-</h2>
  <div id="index-sticker-list" class="index-stickers">
    <span class="sticker">-</span>
  </div>
</section>

<section class="note-container">
  <ul class="note-list">
    <li class="note-row">
      <div class="left">
        <div class="index-sticker"></div> <!-- bookmark -->
        <div class="meta">
          <span id="heart">
            <img src="/images/heart-empty.png" alt="틀림" class="img-heart"/>
          </span>
          <span id="hint">❓</span>
        </div>
        1. 어떤 모듈에서 반환한 값을 다른 모듈에서 참조해서 사용하는 경우의 결합도
      </div>
      <div class="right">
        <div class="settings-icon">
          <img id="dots-button" src="/images/dots.png" alt="설정" />

          <!-- 팝업 메뉴 -->
          <div class="dots-menu" id="dots-menu">
            <p>문제 편집</p>
            <p>문제 삭제</p>
            <p>북마크 적용</p>
          </div>
        </div>
      <span>외부 결합도(External)</span>
        <div class="answer-actions">
        </div>
      </div>
    </li>
  </ul>
  </section>
  <div id="hint-popup" class="hint-popup">
    <div class="hint-content"></div>
  </div>