<div class="card-container">
  <div class="card" id="flashcard">
    <div class="card-front">
      <p id="question">문제 내용</p>
    </div>
    <div class="card-back">
      <p id="answer">답 내용</p>
    </div>
  </div>
</div>

<div class="navigation">
  <button id="pre-button"><</button>
  <button id="next-button">></button>
</div>