<section class="note-container">
  <ul class="note-list">
    <li class="note-row">
      <div class="left">
        <div class="meta">
          <span id="star">⭐⭐</span>
          <span id="hint">❓</span>
        </div>
        1. 어떤 모듈에서 반환한 값을 다른 모듈에서 참조해서 사용하는 경우의 결합도
      </div>
      <div class="right">외부 결합도(External)</div>
    </li>
  </ul>
  </section>
  
  <div id="hint-popup" class="hint-popup" style="display: none;">
    <div class="hint-content"></div>
  </div>