
<div class="folder-grid">
    <!-- 예시 폴더 15개 -->
    <div class="folder-item">
        <a href="/cards_split" class="folder-link">
            <img src="/images/folder.jpg" alt="폴더" />
        </a>
    </div>
    <div class="folder-item">
        <a href="/cards_filp" class="folder-link">
            <img src="/images/folder.jpg" alt="폴더" />
        </a>
    </div>
    <div class="folder-item">
        <a href="/cards_text" class="folder-link">
            <img src="/images/folder.jpg" alt="폴더" />
        </a>
    </div>
    <div class="folder-item">
      <img src="/images/folder.jpg" alt="폴더" />
    </div>
    <div class="folder-item">
      <img src="/images/folder.jpg" alt="폴더" />
    </div>
    <div class="folder-item">
      <img src="/images/folder.jpg" alt="폴더" />
    </div>
    <!-- 아래 항목은 반복해서 넣으면 됩니다 -->
    <!-- ... 반복 ... -->
  </div>