  #cover {
    position: absolute; /* 또는 fixed, 구조에 따라 조정 */
    top: 0;
    left: 0;
    width: 55%;
    height: 80%;
    background-color: #ff0000e0; /* 반투명 빨간색 */
    cursor: grab;
    transition: opacity 0.2s;
    display: none; /* 처음에는 숨겨놓기 */
  }
  
  #cover.dragging {
    cursor: grabbing;
  }
  
  #cover.show {
    display: block;
  }