
<header class="header">
    <div class="header-icons">
      <span id="coverfg"><p class="icon">ðŸ’›</p></span>
      <span
        ><a href="/user/logout" ><img
          src="/images/logout.png"
          alt="ë¡œê·¸ì•„ì›ƒ"
          style="border-radius: 8px"
          width="30"
      /></a></span>
      <span
        ><img
          src="/images/mypage.png"
          alt="ë§ˆì´íŽ˜ì´ì§€"
          style="border-radius: 8px"
          width="30"
      /></span>
    </div>
  </header>