<nav class="side-menu" id="sideMenu">
  <div class="menu-header">
    <div id="menuToggle" class="menu-toggle">☰</div>
    <a href="/main" class="home-button" title="메인으로 이동">🏠</a>
  </div>
  <ul>
    <a class="link" href="/history">
      <li>
        <p class="icon">📝</p>
        <span class="label">학습기록</span>
      </li>
    </a>
    <a class="link" href="/cover/edit">
      <li>
        <p class="icon">✨</p>
        <span class="label">가림판 꾸미기
        </span>
      </li>
    </a>
    <a class="link" href="/cover/list">
      <li>
        <p class="icon">✨</p>
        <span class="label">가림판 목록
        </span>
      </li>
    </a>
    <a class="link" href="/question">
      <li>
        <p class="icon">💡</p>
        <span class="label">문의하기</span>
      </li>
    </a>
  </ul>
</nav>