<nav class="side-menu" id="sideMenu">
  <div class="menu-header">
    <div id="menuToggle" class="menu-toggle">โฐ</div>
    <a href="/main" class="home-button" title="๋ฉ์ธ์ผ๋ก ์ด๋">๐</a>
  </div>
  <ul>
    <a class="link" title="ํ์ต๊ธฐ๋ก" href="/history">
      <li>
        <p class="icon">๐</p>
        <span class="label">ํ์ต๊ธฐ๋ก</span>
      </li>
    </a>
    <a class="link" title="๊ฐ๋ฆผํ ์ํ" href="/cover/list">
      <li>
        <p class="icon">โจ</p>
        <span class="label">๊ฐ๋ฆผํ ์ค์
        </span>
      </li>
    </a>
    <a class="link" title="๋ฌธ์ํ๊ธฐ" href="/question">
      <li>
        <p class="icon">๐ก</p>
        <span class="label">๋ฌธ์ํ๊ธฐ</span>
      </li>
    </a>
    <a class="link goMain" title="๋ฉ์ธ์ผ๋ก ์ด๋" href="/main">
      <li>
        <p class="icon">๐</p>
      </li>
    </a>
  </ul>
</nav>